body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    overflow: hidden; /* Remove vertical scrollbar */
}

.container {
    display: flex;
    height: 100vh; /* Use full viewport height */
}

.sidebar {
    flex: 1;
    background: #eaeaea;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;    
}

h3 {
    font-size: 14px; /* Smaller font for list titles */
    margin-bottom: 10px;
}

.content {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.heatmap-container img {
    max-width: 100%;
    max-height: 90vh; /* Limit image height */
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin: 5px 0;
    font-size: 14px; /* Smaller font for checkboxes */
}

input[type="checkbox"] {
    transform: scale(1.5); /* Make checkboxes bigger */
    margin-right: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}
.button {
    border-radius: 5px; /* Round corners */
    padding: 4px 8px; /* Shorter buttons */
    margin: 5px;
    background-color: #0b76e0; /* Light background color */
    border: 1px solid #ccc;
    color: white;
    font-size: 14px;
}

.button-container {
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa00; /* Update to a light color that fits your theme */
    z-index: 1000;
    padding: 0px 0px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: left;
    gap: 5px;
}

.radio-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #f8f9fa00;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 1000;
}
