<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>相关性分析</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Left Sidebar: File Picker, Correlation Method, and Column Headers -->
        <div class="sidebar">
            <form id="file-upload-form" enctype="multipart/form-data">
                <input type="file" id="file-input" name="file" accept=".csv">
                <!-- <label for="correlation-method">Correlation Method:</label> -->
                <select id="correlation-method" name="correlation_method">
                    <option value="pearson" {% if correlation_method == 'pearson' %}selected{% endif %}>Pearson</option>
                    <option value="kendall" {% if correlation_method == 'kendall' %}selected{% endif %}>Kendall</option>
                    <option value="spearman" {% if correlation_method == 'spearman' %}selected{% endif %}>Spearman</option>
                </select>
                <button class="button" type="button" id="upload-button">分析</button>
            </form>
            <h3>在线数据</h3>
            <button class="button" type="button" onclick="selectAll('table1')">全选</button>
            <button class="button" type="button" onclick="selectNone('table1')">不选</button>
            <form id="update-columns-form">
                {% for column in table1_columns %}
                    <label>
                        <input type="checkbox" name="columns" value="{{ column }}" class="table1" checked>
                        {{ column }}
                    </label>
                {% endfor %}
                <h3>离线数据</h3>
                <button class="button" type="button" onclick="selectAll('table2')">全选</button>
                <button class="button" type="button" onclick="selectNone('table2')">不选</button>
                {% for column in table2_columns %}
                    <label>
                        <input type="checkbox" name="columns" value="{{ column }}" class="table2" checked>
                        {{ column }}
                    </label>
                {% endfor %}
                <div class="button-container">
                    <button class="button" type="button" id="update-button">重新分析</button>
                    <button class="button" type="button" id="download-combined-button">下载数据</button>
                </div>
            </form>            
        </div>
        
        <!-- Center Content: Heatmap -->
        <div class="content">
            <div id="heatmap-container" class="heatmap-container">
                {% if heatmap_filename %}
                    <img src="/uploads/{{ heatmap_filename }}" alt="Correlation Heatmap">
                {% else %}
                    <p>请选择数据上传、分析</p>
                {% endif %}
            </div>
        </div>
        
        <!-- Right Sidebar: Sort by Column -->
        <div class="sidebar">
            <h3>按相关度排序</h3>
            <form action="/sort_columns" method="post">
                <div class="radio-container">
                    <label>
                        <input type="radio" name="sort_type" value="absolute">绝对值
                    </label>
                    <label>
                        <input type="radio" name="sort_type" value="signed" checked>正负数
                    </label>
                </div>
                {% for column in table1_columns %}
                    <label>
                        <input type="radio" name="primary_column" value="{{ column }}" required>
                        {{ column }}
                    </label>
                {% endfor %}
                {% for column in table2_columns %}
                    <label>
                        <input type="radio" name="primary_column" value="{{ column }}" required>
                        {{ column }}
                    </label>
                {% endfor %}
                <input type="hidden" id="sort-correlation-method" name="correlation_method" value="{{ correlation_method }}">
                <div class="button-container">
                    <button class="button" type="submit">相关性排序</button>
                    <button class="button" type="button" id="download-heatmap-button">下载数据</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
